@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

p{
    text-align: center;
    font-size: 24px;
}
input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
/* Header */
#santa_helpers{
    display:block;
    height:100px;
    width: 300px;
    margin-left: auto;
    margin-right:auto;
}

/* Navigation */
nav{
    border-radius: 10px 10px 0 0;
}


.navbar-nav{
    margin-left:auto;
    margin-right:auto;
    z-index: 9;
}

.nav-item{
    padding: 0 25px 0 25px;
    font-size: 14px;
}

.nav-item:hover{
    background-color: #34283F;
    font-size: 16px;
    transition: .5s;
    border-radius: 10px;
}

.active{
    border-bottom: 2px solid #fff;
}

.nav-link{
    color:#fff !important;
    
}

.bg-light{
    background-color: #CC231E !important;
}

#facebook a{
    color:#fff;
    font-size: 40px;
}

#twitter a{
    color:#fff;
    font-size: 40px;
}

#google a{
    color:#CC231E;
    font-size: 40px;
}

#linkedin a{
    color:#fff;
    font-size: 40px;
}


/* Nauty or nice */
#naughty_nice {
    height: 1000px;
    background: none repeat scroll 0 0 #34283F;
    /* background: none repeat scroll 0 0 #80ccff; */
    color: #FFF;
    padding: 12px;
    font-family: Helvetica;
    display: block;
  }

#forms_inFront{
    z-index: 9;
    position: relative;
    top: -500px;
    color:#fff;
}

#enter_name{
    width:500px;
    padding:20px;
}

#submit_btn{
    margin: 10px 0 0 0;
    width:100px;
    background-color: #34A65F;
    color:#fff;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#test_name{
    z-index: 11;
    transition-delay: 1s;
    color:#fff;
    display: block;
    margin: auto;
    padding: 50px;
    
}

.show_Result{
    /* background-color: #34A65F; */
    border-radius: 20px;
    width:300px;
    z-index: 100;
}

.green{
    background-color: #34A65F;
}

.red{
    background-color: #CC231E;
}

/************* Nauty or nice END ****************/

/***************** footer ********************/
footer{
    margin-top: 0;
}


#cfg_footer{
    position: relative;
    top:-100px;
    background-color: #CC231E;
    border-radius:20px;
    /* padding-top: 0 !important; */
    padding: 30px 0 30px 0;
}

#facebook{
    background-color: #3b5998;
    padding: 20px;
    border-radius: 100%;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    width: 100px;
    height: 100px;
}

#facebook:hover, #twitter:hover, #google:hover, #linkedin:hover{
    opacity: .6;
    transition: 1s;
}

#twitter{
    background-color: #38A1F3;
    padding:20px;
    border-radius: 100%;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    width: 100px;
    height: 100px;
}

#google{
    background-color: #fff;
    padding:20px;
    border-radius: 100%;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    width: 100px;
    height: 100px;
}

#linkedin{
    background-color: #0077B5;
    padding:20px;
    border-radius: 100%;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    width: 100px;
    height: 100px;
}

#footer li{
    padding: 0 30px !important;
}

/* Footer End */


/* CountDown */
#christmas_counter .content div{
    display: inline-block;
    margin: 100px 10px 0;
    width: 120px;
    height: 150px;
    background: #CC231E;
    border-radius: 5px;
    color: #fff;
    line-height: 150px;
    font-family: tahoma;
    font-size: 55px;
}

#christmas_counter >div{
    text-align: center;
}

#christmas_counter .title{
height: 50px;
/* background: #01b388; */
position: relative;
}

#christmas_counter .title span{
    display: inline-block;
    width: 140px;
    font-size: 20px;
    font-family: tahoma;
    color: #fff;
    line-height: 50px;
}
/********************* CountDown END **********************/

